{% extends "groups/group_base.html" %}
{% block pregroup %}
    <div class="col-md-4">
        <div class="content">
            {#            if the user is logged in, say welcome back #}
            {#            else, say this is the groups page, select one #}
            {% if user.is_authenticated %}
                <h2>Welcome Back!</h2>
                {#                links to their profile where they have their posts #}
                <a href="{% url 'posts:for_user' username = user.username %}">
                    {#                if you click on this link, ti wil take you to a list of all your posts #}
                    @{{ user.username }}
                </a>
            {% endif %}
            {#        for everyone though show the following #}
            <h2>Groups</h2>
            <p>Welcome to the groups page!</p>
        </div>
        {#    add a button so they can create a new group #}
        {% if user.is_authenticated %}
            {#        creating a group is also available in the nav bar, this is separate #}
            <a href="{% url 'groups:create' %}" class="btn btn-md btn-fill btn-warning">
                <span class="fa fa-plus-sign">Create New Group!</span>
            </a>
        {% endif %}
    </div>

{% endblock %}

{% block group_content %}
    <div class="col-md-8">
        <div class="list-group">
            {#        the object list is a list of the actual groups objects #}
            {#            display the group name, number of members, number of posts #}
            {% for group in object_list %}
                <a href="{% url 'groups:single' slug = group.slug %}" class="list-group-item">
                    {#                    click on the group name, takes you to the group detail page #}
                    <h3 class="title list-group-item-heading">{{ group.name }}</h3>
                    <div class="list-group-item-text container-fluid">
                        {#                        safe: if something is wrapped around <b> you will see it bold #}
                        {{ group.description_html|safe }}
                        {#                        say how many members and posts that group has #}
                        <div class="row">
                            <div class="col-md-8">
                                <span class="badge">
                                    {{ group.members.count }}
                                </span>
                                member {{ group.members.count|pluralize }}
                            </div>
                            <div class="col-md-4">
                                <span class="badge">
                                    {{ group.posts.count }}
                                </span>
                                post{{ group.posts.count|pluralize }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}